.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutImageContainer {
  position: relative;
}

.aboutImageOverlay {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aboutImageOverlay h2 {
  align-self: flex-start;
  margin-left: 100px;
  font-size: 4rem;
  font-weight: 600;
  color: var(--dark-text-colour);
}

.aboutText {
  font-size: 2rem;
  text-align: center;
  margin: 80px;
}

.location {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  align-items: center;
  font-size: 2rem;
  text-align: center;
}
