.cartContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-bottom: 30px;
}

.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.separator {
  width: 100%;
}

.totalPrice {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 20px;
}
