.cartContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
