.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.homeLink {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--light-text-colour);
  text-decoration: underline;
}

.homeLink img {
  width: 80px;
}
