.footer {
  background-color: var(--dark-background-colour);
  color: var(--dark-text-colour);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 40px;
}

.footer h2 {
  font-family: var(--logo-font), "Urbanist", sans-serif;
}

.footer ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style: none;
}
