.footer {
  display: flex;
  justify-content: center;
  background-color: var(--dark-background-colour);
  color: var(--dark-text-colour);
}

.footer h2 {
  font-family: var(--logo-font), "Urbanist", sans-serif;
}

.footer ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style: none;
}

.layoutContainer {
  width: 100%;
  max-width: var(--content-max-width);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  justify-items: center;
  padding: 40px 0;
}
