a {
  color: var(--dark-text-colour);
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: var(--dark-background-colour);
  color: var(--dark-text-colour);
}

.footer h2 {
  font-family: var(--logo-font), "Urbanist", sans-serif;
}

.footer ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style: none;
}

.layoutContainer {
  width: 100%;
  max-width: var(--content-max-width);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  justify-items: center;
  padding: 40px 0;
}

@media (max-width: 600px) {
  .layoutContainer {
    grid-template-columns: 1fr;
    gap: 12px;
    justify-items: flex-start;
    padding-left: 40px;
  }
  .layoutContainer ul {
    padding: 0;
  }
}
