.heroCarousel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
  width: 100%;
  position: relative;
}

.heroImage {
  height: 100%;
  width: 100%;
}

.heroCarousel img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.previous,
.next {
  border: none;
  background-color: transparent;
  width: 100px;
  position: absolute;
  cursor: pointer;
  z-index: 2;
}

.previous {
  left: 0;
}

.next {
  right: 0;
}

.indicators {
  width: 300px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 20px;
  z-index: 2;
}

.indicator {
  background-color: rgba(0, 0, 0, 0.5);
  height: 8px;
  width: 100px;
}

.indicator.selected {
  background-color: rgba(255, 255, 255, 0.8);
}

.ckytodo {
  position: absolute;
  font-size: 4rem;
  color: white;
  font-weight: 700;
  z-index: 10;
  text-align: center;
}
