.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.previewContainer {
  display: flex;
  min-width: 1000px;
  min-height: 150px;
}

.previewContainer h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--dark-background-colour);
  color: var(--dark-text-colour);
  flex: 0 0 140px;
  margin-right: 20px;
  padding: 8px;
}
