.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.storeImageContainer {
  position: relative;
}

.storeImageOverlay {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.storeImageOverlay p {
  font-size: 4rem;
  font-weight: 600;
  color: var(--dark-text-colour);
}

.previewContainer {
  display: flex;
  min-width: 1000px;
  min-height: 150px;
}

.previewLink {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--dark-background-colour);
  color: var(--dark-text-colour);
  flex: 0 0 140px;
  margin-right: 20px;
  padding: 8px;
  text-decoration: none;
}
