.loadingArea {
  display: flex;
  justify-content: center;
  height: 200px;
}

.loadingIcon {
  width: 80px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
