.preview {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 800px;
}

.preview ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  list-style: none;
  padding: 0;
}

.preview li {
  box-shadow: var(--album-shadow);
}
