.preview {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 800px;
}

.preview ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  list-style: none;
  padding: 0;
}

.preview li {
  box-shadow: var(--album-shadow);
  transition: transform 0.2s ease-in-out;
  will-change: transform;
}

.preview li:hover {
  transform: scale(1.05);
}

@media (max-width: 600px) {
  .preview {
    max-width: 80px;
    height: 100%;
  }

  .preview li {
    box-shadow: none;
  }
}
