.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  font-size: 1.2rem;
}

.productText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.album {
  font-size: 2.4rem;
}

.artist {
  font-size: 1.6rem;
  color: var(--light-label-colour);
}

.price {
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.quantity {
  display: flex;
  align-items: center;
  gap: 8px;
  --border-style: 1px solid lightgrey;
}

.quantityEdit {
  border-top: var(--border-style);
  border-bottom: var(--border-style);
}

.quantityButton {
  width: 40px;
  background-color: transparent;
  border: none;
  border-right: var(--border-style);
  border-left: var(--border-style);
  cursor: pointer;
}

.quantityField {
  width: 80px;
  border: none;
  text-align: center;
}

/* Remove spinner from Firefox */
.quantityField {
  -moz-appearance: textfield;
}

/* Remove spinner from Chrome, Safari, Edge */
.quantityField::-webkit-inner-spin-button,
.quantityField::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.addToCartButton {
  background-color: var(--dark-background-colour);
  color: var(--dark-text-colour);
  border-radius: 16px;
  width: 140px;
  cursor: pointer;
  border: none;
  padding: 4px;
}

.separator {
  margin: 24px 0;
}

.trackList {
  list-style: none;
  padding: 0;
}

.track {
  display: grid;
  grid-template-columns: 30px auto;
  gap: 8px;
}

/* Selects the first column (track numbers) */
.track > :nth-child(2n + 1) {
  text-align: center;
  font-weight: 600;
  color: gray;
}
