.shopItem,
.cartItem {
  list-style: none;
}

.shopItem {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 4px;
  height: 100%;
}

.cartItem {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.imageContainer {
  grid-row: span 3;
}

.cartItem .productImage {
  height: 200px;
}

.productImage {
  box-shadow: var(--album-shadow);
}

.productLink {
  text-decoration: none;
  color: var(--light-text-colour);
}

.productLink:hover {
  text-decoration: underline;
}

.albumName {
  font-size: 1.1rem;
  font-weight: 600;
}

.artistName {
  color: var(--light-label-colour);
}

.price {
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.cartItem .price {
  font-size: 1.4rem;
}

.quantityForm {
  display: flex;
  align-items: flex-end;
  gap: 4px;
  --border-style: 1px solid lightgrey;
}

.quantityLabel {
  font-size: 0.9rem;
  font-weight: 500;
}

.quantityEdit {
  border-top: var(--border-style);
  border-bottom: var(--border-style);
}

.quantityButton {
  width: 30px;
  background-color: transparent;
  border: none;
  border-right: var(--border-style);
  border-left: var(--border-style);
}

.quantityField {
  width: 80px;
  text-align: center;
  flex: 1;
  border: none;
}
