.shopItem,
.cartItem {
  list-style: none;
}

.shopItem {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.cartItem {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.imageContainer {
  grid-row: span 3;
}

.cartItem .productImage {
  height: 200px;
}

.productImage {
  box-shadow: var(--album-shadow);
}

.productLink {
  text-decoration: none;
  color: var(--light-text-colour);
}

.productLink:hover {
  text-decoration: underline;
}

.albumName {
  font-size: 1.1rem;
  font-weight: 600;
}

.artistName {
  color: var(--light-label-colour);
}

.price {
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.cartItem .price {
  font-size: 1.4rem;
}

.quantityForm {
  display: flex;
  align-items: center;
  gap: 4px;
}

.quantityField {
  width: 40px;
  text-align: center;
}
