.shopItem {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style: none;
  height: 100%;
}

.shopItem img {
  box-shadow: var(--album-shadow);
}

.albumName {
  font-size: 1.1rem;
  font-weight: 600;
}

.artistName {
  color: var(--light-label-colour);
}

.price {
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.shopItem form {
  display: flex;
  align-items: center;
  gap: 4px;
}

.shopItem input {
  width: 40px;
  text-align: center;
}
