.shop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.content {
  display: flex;
  width: 100%;
}

.sidebar {
  position: sticky;
  top: 10px;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
  min-width: 180px;
  padding: 0;
  font-size: 1.4rem;
  margin-right: 20px;
}

.sidebar a {
  color: var(--light-text-colour);
}

.sidebar li {
  display: flex;
  gap: 4px;
}

.productContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 0;
}
