.shopItem,
.cartItem {
  list-style: none;
}

.shopItem {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 4px;
  height: 100%;
}

.cartItem {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(2, 1fr), 25px;
  grid-template-rows: repeat(3, 1fr);
  justify-content: space-between;
  gap: 16px;
}

.imageContainer {
  grid-row: span 3;
}

.cartItem .productImage {
  height: 200px;
}

.productImage {
  box-shadow: var(--album-shadow);
}

.productLink.imageContainer:hover + .productLink {
  text-decoration: underline;
}

.productLink {
  text-decoration: none;
  color: var(--light-text-colour);
}

.productLink:hover {
  text-decoration: underline;
}

.albumName {
  font-size: 1.1rem;
  font-weight: 600;
}

.artistName {
  color: var(--light-label-colour);
}

.price {
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.cartItem .price {
  font-size: 1.4rem;
}

.quantityForm {
  display: flex;
  align-items: flex-end;
  --border-style: 1px solid lightgrey;
}

.quantityEdit {
  border-top: var(--border-style);
  border-bottom: var(--border-style);
}

.quantityButton {
  width: 30px;
  background-color: transparent;
  border: none;
  border-right: var(--border-style);
  border-left: var(--border-style);
  cursor: pointer;
}

.quantityField {
  width: 80px;
  text-align: center;
  flex: 1;
  border: none;
}

/* Remove spinner from Firefox */
.quantityField {
  -moz-appearance: textfield;
}

/* Remove spinner from Chrome, Safari, Edge */
.quantityField::-webkit-inner-spin-button,
.quantityField::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.closeButton {
  width: 25px;
  height: 25px;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 50%;
}

.closeButton:hover {
  background-color: #e6e6e6;
}
